@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca</h1>
    <p class="lead">Bienvenido a la Biblioteca A, si decea realizar un prestamo inicie sesion, si no posee una acerquese a uno de nuestros Bibliotecarios</p>
</div>

